.examWrite_header {
  height: var(--height);
  height: 48px !important;
  padding: 0 1rem;
  align-items: center;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.14),
    0px 0px 2px rgb(0, 0, 0, 0.12);
  background-color: #fff;
}
.examWrite_header .content {
  flex: 1;
  padding-left: 10vmax;
}
.examWrite_right b {
  font-weight: 600;
}
br {
  line-height: 2rem;
}
.examWrite_wrap {
  background-color: #f5f5f5;
  --height: 3rem;
  --totalWidth: 80vmax;
  --BigWidth: 45vmax;
  --DictWidth: 24rem;
  --SmallWidth: calc(var(--totalWidth) - var(--BigWidth));
  height: 100vh;
  display: flex;
  padding-bottom: 3rem;
}
.examWrite_wrap::selection {
  background-color: #691313 !important;
}
.examWrite_body {
  padding: 2rem 0;
  padding-bottom: 0.5rem;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
.examWrite_dict_wrapper {
  display: none;
  padding-right: 2rem;
  width: var(--DictWidth);
}
.examWrite_dict_container {
  flex: 1;
  height: 100%;
  background-color: #ddd;
}
@media (min-width: 1000px) {
  .examWrite_wrap {
    --totalWidth: 90vmax;
    --BigWidth: 35vmax;
    --DictWidth: 18rem;
    --SmallWidth: calc(
      var(--totalWidth) - var(--BigWidth) - var(--DictWidth)
    );
  }
  .examWrite_dict_wrapper {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .examWrite_wrap {
    --totalWidth: 90vmax;
    --BigWidth: 40vmax;
    --DictWidth: 22rem;
    --SmallWidth: calc(
      var(--totalWidth) - var(--BigWidth) - var(--DictWidth)
    );
  }
  .examWrite_dict_wrapper {
    display: flex;
  }
}
.examWrite_body.second {
  padding: 0.25rem 1rem;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.examWrite_body.top {
  flex: 1;
}
.examWrite_body.second .examWrite_left {
  height: 3rem;
  background-color: #fff;
  box-shadow: var(--shadow);
  display: flex;
  border-radius: 0.25rem;
}
.examWrite_left_inner {
  padding: 0 1rem;
  font-size: 0.8rem;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
.examWrite_left_inner.two {
  justify-content: flex-end;
}
.examWrite_left_inner.one span {
  margin-right: 0.75rem;
}
.examWrite_left_inner.two span {
  background-color: var(--blue);
  margin-left: 0.75rem;
  color: #fff;
}
.examWrite_left_inner.two span i {
  color: #fff;
}
.examWrite_left_inner span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: var(--shadow);
}
.examWrite_left_inner span:hover {
  background-color: rgb(236, 236, 236);
}
.examWrite_left_inner.two span:hover {
  background-color: rgb(55, 114, 208);
}
.examWrite_left,
.examWrite_right {
  display: flex;
}
.examWrite_left {
  width: var(--BigWidth);
  z-index: 9;
  padding: 0 1.5rem 0 0;
  padding-right: 0;
}
.examWrite_right {
  width: var(--SmallWidth);
  padding: 0;
  font-size: 0.8rem;
  padding: 1rem;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  transform: translateX(calc(var(--SmallWidth) * -1));
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: rgb(236, 236, 236);
  transition: all 300ms ease-in;
}
.examWrite_right p {
  margin: 00.125rem 0;
}
.examWrite_right.active {
  transform: translateX(0vmax);
  box-shadow: var(--shadow);
}
.examWrite_right.opt {
  width: 25vmax;
  background-color: #fff;
  padding: 0 0 0 1.5rem;
}
.examWrite_right_box,
.examWrite_left_box {
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.14),
    0px 0px 2px rgb(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 0.25rem;
  overflow-y: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 2rem;
}
.examWrite_inner_float {
  background-color: rgba(255, 255, 255, 0);
  z-index: 999999999999999;
  position: absolute;
  padding: 4px;
  --top: 0.75rem;
  --floatSize: 1.5rem;
  right: var(--top);
  top: var(--top);
  height: var(--floatSize);
  width: var(--floatSize);
  border-radius: 50%;
  transition: all 200ms ease;
}
.examWrite_inner_float.two {
  right: calc(var(--top) + var(--floatSize) + 6px);
  background-color: #fafafa;
  background-color: rgba(255, 255, 255, 0);
  background-color: #eee;
}
.examWrite_inner_float:hover {
  background-color: rgba(195, 220, 255, 0.333);
}
.examWrite_inner_float.two:hover {
  background-color: rgba(218, 218, 218, 0.918);
}
.examWrite_inner_float i {
  color: var(--blue);
}
.examWrite_left_box .examWrite_inner_float i {
  font-size: 1rem;
}
.examWrite_inner_float i:hover {
  color: rgb(59, 119, 216);
}
.examWrite_inner_float.two i {
  font-size: 1.2rem;
  border-radius: 50%;
  padding: 2px;
  color: #454545;
}
.examWrite_inner_delete_pane {
  box-shadow: var(--shadow);
  border-radius: 0.25rem;
  padding: 0.5rem;
  position: absolute;
  top: 2rem;
  right: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  justify-content: center;
  width: 8rem;
  background-color: #fff;
  font-size: 0.7rem;
}
.examWrite_inner_delete_pane p {
  margin: 0;
  margin: 1rem 0;
}
.examWrite_inner_delete_pane button {
  font-size: 0.7rem;
  padding: 0.3rem;
  width: 100%;
}
.examWrite_inner_delete_pane span {
  display: flex;
  justify-content: flex-end;
  top: 1rem;
  right: 1rem;
}
.examWrite_right_box {
  padding: 0;
  box-shadow: 0px 0.5px 0.45px rgb(0, 0, 0, 0.11),
    0px 0.8px 1.8px rgb(0, 0, 0, 0.13);
}
.examWrite_L_header {
  padding: 0.5rem 0;
  color: #3c3e8b;
  font-weight: 500;
}
.examWrite_L_body {
  border: 1.5px dashed #dddddd;
  border-radius: inherit;
  padding: 1rem 00.5rem;
  margin: 1rem 0;
  font-size: 0.8rem;
}
.examWrite_L_image {
  flex: 1;
  overflow-y: auto;
}
.examWrite_L_image_inner {
  min-height: 15rem;
  position: relative;
}
.examWrite_L_btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 2rem;
}
.examLogin_btn {
  align-self: flex-start;
  justify-self: flex-end;
  overflow: hidden;
}
.examLogin_btn.next {
  color: #3c3e8b;
  background-color: #f3f3f3;
}
.examLogin_btn.prev {
  background-color: #fff;
  border: 1px solid rgb(233, 233, 233);
  justify-self: flex-end;
}
.examWrite_right_grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-height: 80%;
  --gap: 0.5rem;
  gap: var(--gap);
  overflow-y: auto;
  background-color: #f5f5f5;
  padding: var(--gap);
}
.examWrite_right_grid_box {
  position: relative;
}
.examWrite_right_grid_box::before {
  padding-top: 100%;
  content: '';
  display: block;
}
.examWrite_right_grid_box .inner {
  background-color: #ffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.examWrite_right_grid .float {
  position: absolute;
  padding: 0.25rem 0.5rem;
  height: 1.3rem;
  background-color: rgb(133, 133, 133);
  color: #fff;
  box-shadow: 0px 0.5px 0.45px rgb(0, 0, 0, 0.11),
    0px 0.8px 1.8px rgb(0, 0, 0, 0.13);
  border-radius: 0.8rem;
  bottom: 0.75rem;
  right: 0.75rem;
  font-size: 00.65rem;
}
.examWrite_float {
  position: absolute;
  z-index: 99999;
  padding-top: 5rem;
  background-color: rgba(0, 0, 0, 0.673);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.examWrite_float_box {
  background-color: #fff;
  width: 70%;
  max-width: 40rem;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 0.25rem;
  position: relative;
  box-shadow: var(--shadow);
}
.examWrite_float_box > span {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-start;
}
.examWrite_float_box span:nth-child(2) {
  justify-content: flex-end;
}
.examWrite_float_box textarea {
  border-color: rgb(233, 233, 233);
}
.examWrite_float_box textarea {
  height: 10rem;
}
.write_type_tag {
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  background-color: #adceffad;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  margin-left: 0.5rem;
}
