.examWrite_header {
  height: var(--height);
  padding: 0 1rem;
  align-items: center;
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.14),
    0px 0px 2px rgb(0, 0, 0, 0.12);
  background-color: #fff;
}
.examWrite_header .content {
  flex: 1;
  padding-left: 10vmax;
}
.examWrite_wrap {
  background-color: #f5f5f5;
  --height: 3rem;
  min-height: 100vh;
  display: flex;
}
.examWrite_body {
  margin-top: var(--height);
  padding: 2rem 0;
  padding-bottom: 0.5rem;
  --totalWidth: 80vmax;
  --BigWidth: 45vmax;
  --SmallWidth: calc(var(--totalWidth) - var(--BigWidth));
  display: flex;
  justify-content: center;
}
.examWrite_body.second {
  padding: 0.25rem 1rem;
  margin-top: 0;
  --totalWidth: 80vmax;
  --BigWidth: 45vmax;
  --SmallWidth: calc(var(--totalWidth) - var(--BigWidth));
  display: flex;
  justify-content: center;
  align-items: center;
}
.examWrite_body.second .examWrite_left {
  height: 3rem;
  background-color: #fff;
  box-shadow: var(--shadow);
  display: flex;
  border-radius: 0.25rem;
}
.examWrite_left_inner {
  padding: 0 1rem;
  font-size: 0.8rem;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
.examWrite_left_inner.two {
  justify-content: flex-end;
}
.examWrite_left_inner.one span {
  margin-right: 0.75rem;
}
.examWrite_left_inner.two span {
  background-color: var(--blue);
  margin-left: 0.75rem;
  color: #fff;
}
.examWrite_left_inner.two span i {
  color: #fff;
}
.examWrite_left_inner span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: var(--shadow);
}
.examWrite_left_inner span:hover {
  background-color: rgb(236, 236, 236);
}
.examWrite_left_inner.two span:hover {
  background-color: rgb(55, 114, 208);
}
.examWrite_left,
.examWrite_right {
  display: flex;
}
.examWrite_left {
  width: var(--BigWidth);
  z-index: 9;
  padding: 0 1.5rem 0 0;
  padding-right: 0;
}
.examWrite_right {
  width: var(--SmallWidth);
  padding: 0;
  font-size: 0.8rem;
  padding: 1rem;
  transform: translateX(calc(var(--SmallWidth) * -1));
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: rgb(236, 236, 236);
  transition: all 300ms ease-in;
}
.examWrite_right.active {
  transform: translateX(0vmax);
  box-shadow: var(--shadow);
}
.examWrite_right.opt {
  width: 25vmax;
  background-color: #fff;
  padding: 0 0 0 1.5rem;
}
.examWrite_right_box,
.examWrite_left_box {
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.14),
    0px 0px 2px rgb(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 0.25rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 2rem;
}
.examWrite_right_box {
  padding: 0;
  box-shadow: 0px 0.5px 0.45px rgb(0, 0, 0, 0.11),
    0px 0.8px 1.8px rgb(0, 0, 0, 0.13);
}
.examWrite_L_header {
  padding: 0.5rem 0;
  color: #3c3e8b;
  font-weight: 500;
}
.examWrite_L_body {
  border: 1.5px dashed #dddddd;
  border-radius: inherit;
  padding: 1rem 00.5rem;
  margin: 1rem 0;
  font-size: 0.8rem;
}
.examWrite_L_btn {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 2rem;
}
.examLogin_btn {
  align-self: flex-start;
  justify-self: flex-end;
}
.examLogin_btn.next {
  color: #3c3e8b;
  background-color: #f3f3f3;
}
.examLogin_btn.prev {
  background-color: #fff;
  border: 1px solid rgb(233, 233, 233);
  justify-self: flex-end;
}
.examWrite_right_grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-height: 80%;
  --gap: 0.5rem;
  gap: var(--gap);
  overflow-y: auto;
  background-color: #f5f5f5;
  padding: var(--gap);
}
.examWrite_right_grid_box {
  position: relative;
}
.examWrite_right_grid_box::before {
  padding-top: 100%;
  content: '';
  display: block;
}
.examWrite_right_grid_box .inner {
  background-color: #ffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.examWrite_right_grid .float {
  position: absolute;
  padding: 0.25rem 0.5rem;
  height: 1.3rem;
  background-color: rgb(133, 133, 133);
  color: #fff;
  box-shadow: 0px 0.5px 0.45px rgb(0, 0, 0, 0.11),
    0px 0.8px 1.8px rgb(0, 0, 0, 0.13);
  border-radius: 0.8rem;
  bottom: 0.75rem;
  right: 0.75rem;
  font-size: 00.65rem;
}
