.createWrap {
  background-color: #eee;
  display: flex;
  flex: 1;
  --genPad: 0.75rem;
}
.createQ {
  padding: 2rem 1rem;
  margin: 0 auto;
}
.createTitle {
  display: flex;
  padding-right: var(--genPad);
}
.createWrap p {
  font-size: 1.15rem;
  margin: 0;
  margin-right: auto;
}
.createTitle p {
  border-radius: 00.25rem;
  display: inline-flex;
  padding: 0 1rem;
  min-width: 10rem;
  font-size: 0.8rem;
  align-items: center;
  background-color: #fff;
  border: none;
  box-shadow: var(--shadow);
}
.createTitleFloat {
  border-radius: 0.25rem;
  font-size: 0.65rem;
  color: rgb(33, 46, 83);
  background-color: rgba(213, 231, 255, 0.3);
  position: absolute;
  top: var(--genPad);
  right: var(--genPad);
  padding: 0.25rem;
}

.createWrap_box {
  display: flex;
}
.create_right {
  padding: var(--genPad);
  overflow-y: auto;
  --width: 30vmax;
  --topHeight: 3rem;
  max-height: 30rem;
  width: var(--width);
  flex: 1;
}
.create_right::-webkit-scrollbar {
  width: 0.5rem;
}
.create_right::-webkit-scrollbar-track {
  background-color: #eee;
  /* border-radius: 1rem; */
  overflow: hidden;
  padding: 0 0.25rem;
}
.create_right::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgb(196, 198, 203);
}
.create_right::-webkit-scrollbar-thumb:hover {
  background-color: rgb(180, 184, 188);
}
.create_left {
  padding: var(--genPad);
  position: relative;
  width: 65%;
  max-width: 500px;
  padding-right: 1rem;
  padding-left: 0;
}
.createbtn {
  min-height: 3rem;
}
.createRightBox {
  box-shadow: 0px 0.5px 0.45px rgba(0, 0, 0, 0.11),
    0px 0.8px 1.8px rgba(0, 0, 0, 0.13);
}
.createRightBox.first {
  margin-top: 0;
  min-height: 3rem;
  padding: 0.75rem;
}
.createInputWrap {
  overflow: hidden;
  position: relative;
  padding: 1rem;
}
.createInputTop {
  background-color: rgba(245, 245, 245, 0);
  width: 100%;
  min-height: 3rem;
  border-radius: 0.25rem;
  display: flex;
  padding-top: 1rem;
}
.createITLeft {
  flex: 1;
}
.createITRight {
  min-width: 7rem;
  font-size: 0.75rem;
}

.createInputField {
  border: 2px solid rgb(233, 233, 233);
  border-radius: inherit;
  width: 100%;
  height: 12.5rem;
  display: flex;
  resize: none;
  padding: 1rem;
}
.createInputField:hover,
.createInputField:focus {
  border: 2px dashed rgb(233, 233, 233);
  outline: none;
}
.createRightBox.first .top {
  min-height: 3rem;
}
.createRightBox.first .bottom {
  background-color: rgba(213, 231, 255, 0.3);
  min-height: 2rem;
  --margin: 1.25rem;
  margin-left: var(--margin);
  width: calc(100% - var(--margin));
  border-radius: inherit;
  padding: 0.5rem;
  font-size: 0.65rem;
}
.createRightBox ul {
  margin: 0;
  padding-left: 2rem;
}
.createRightBox li {
  padding-top: 0.25rem;
}
.createRightBox .sm {
  background-color: rgba(213, 231, 255, 0.3);
  min-height: 2rem;
  border-radius: inherit;
  padding: 0.5rem;
  font-size: 0.65rem;
}
.createRightBox .sm.invis {
  visibility: hidden;
  display: none;
}
.createITRight:disabled {
  background-color: #5154af8e !important;
  box-shadow: none !important;
  cursor: default;
}
.notify_create {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  background-color: rgba(235, 180, 0, 0.449);
  font-size: 0.7rem;
  box-shadow: var(--ltShadow);
}
.create_select {
  padding: 0.5rem;
  margin-top: 1rem;
  border: 1px solid #eee;
  border-radius: 0.25rem;
}
.create_select:focus {
  padding: 0.5rem;
  margin-top: 1rem;
  outline: 3px solid hsla(238, 37%, 50%, 0.5) !important;
}
.imagee {
  height: 100px;
  width: 100px;
  margin-left: auto;
  border: 1px dashed rgb(155, 155, 155);
  padding: 0.25rem;
  border-radius: 0.25rem;
  position: relative;
}
.imagee span {
  position: absolute;
  top: 0.35rem;
  padding: 0.15rem;
  right: 0.35rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.401);
}
.imagee span i {
  font-size: 1rem;
  color: #fff;
}
