.questionTWrap {
  padding: 0.5rem 0;
  position: relative;
}
.QTtitle {
  font-size: 1.15rem;
}
.QTlabel {
  font-size: 0.75rem;
  /*max-width: 16rem;*/
}
.questionTWrap input {
  margin: 0.25rem 0;
  border-radius: 0.25rem;
  border: 1px solid #e0e0e0;
  transition: var(--transition);
}
.questionTWrap input.iconed {
  padding-right: 2.1rem;
}
.questionTWrap input:focus {
  /*border: var(--activeBorder);*/
  outline: 3px solid hsla(238, 37%, 50%, 0.5) !important;
}
.questionTWrap input::placeholder {
  color: #a7a7a7;
  font-size: 0.75rem;
}
.QTlabelIcon {
  position: absolute;
  bottom: 16.5px;
  bottom: 13px;
  right: 1px;
  height: 32px;
  width: 2rem;
  display: flex;
  cursor: pointer;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-left: 1px solid #eee;
}
.QTlabelIcon i {
  font-size: 1.5rem;
  color: #454545;
}
.questionFormat_cont {
  align-items: flex-end;
  display: flex;
}
.input_file {
  display: none;
}
.questionFormat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  right: 0rem;
  gap: 2.5px;
  padding-left: 1rem;
  top: 1.2rem;
  align-items: flex-end;
  /*position: absolute;*/
}
.questionBoldWrap {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.125rem;
  border: 2px solid #ddd;
  border-radius: 00.25rem;
  position: relative;
  background-color: #fff;
  transition: var(--transition);
}

.questionBoldWrap:hover {
  border-color: var(--blue);
}
.questionBoldWrap i {
  font-size: 1.2rem;
}
.QTwrapper {
  display: flex;
  padding: 0;
  padding-right: 0;
}
.QTHeadSect {
  flex: 1;
}
.questionBoldWrap_sort {
  background-color: #fff;
  text-align: center;
  font-size: 0.7rem;
  padding: 0.5rem;
  position: absolute;
  --width: 7rem;
  width: var(--width);
  border: 1px solid #eee;
  left: calc(0.1rem - var(--width));
  display: flex;
  flex-direction: column;
}
.questionBoldWrap_sort button {
  padding: 0;
  font-size: inherit;
  padding: 0.125rem;
  margin-top: 0.5rem;
  flex: 1;
}
