.tagCreate_wrap {
  min-height: 100vh;
  padding: 4rem;
  display: flex;
  justify-content: center;
  background-color: #eee;
}
.tagCreate_box {
  padding: 3rem;
  width: 100%;
  max-width: 40rem;
  background-color: #fff;
  box-shadow: var(--shadow);
}
.tagCreateImgCont {
  display: flex;
  /* background-color: black;
  height: 4rem; */
  margin-left: 0;
  margin-bottom: 0.75rem;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.tagCreateImgCont:hover {
  outline: 3px solid hsla(238, 37%, 50%, 0.5) !important;
}

.floater.tagger {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}
.floater.tag {
  background-color: rgba(209, 5, 5, 0.238);
  color: rgb(140, 0, 0);
  font-size: 0.6rem !important;
}
.floater i {
  padding-right: 2rem;
  color: rgb(140, 0, 0);
  font-size: 0.6rem !important;
}
.floater.trans {
  visibility: hidden;
  font-size: 0.6rem !important;
}
